.pet-listing-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pet-listing {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
  margin-right: 1.5rem;
  width: 450px;
  background-color: white;
  border: 3px solid var(--dark-accent);
  color: black;
  padding: 0.5rem;
}

.thumbnail {
  align-self: center;
}

.pet-name {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Sanchez', serif;
}

.pet-list {
  list-style-type: none;
}

.items {
  margin-left: 0.3rem;
  margin-top: 0.3rem;
}
